@types:registry=https://registry.npmjs.org
@angular:registry=https://registry.npmjs.org
@angular-devkit:registry=https://registry.npmjs.org
@ng-bootstrap:registry=https://registry.npmjs.org
@ngtools:registry=https://registry.npmjs.org
@ngx-translate:registry=https://registry.npmjs.org
@uirouter:registry=https://registry.npmjs.org
@ngx-loading-bar:registry=https://registry.npmjs.org
@remy:registry=https://registry.npmjs.org
@ng-idle:registry=https://registry.npmjs.org
@schematics:registry=https://registry.npmjs.org
@ng-select:registry=https://registry.npmjs.org
@nguniversal:registry=https://registry.npmjs.org
@swimlane:registry=https://registry.npmjs.org
@octokit:registry=https://registry.npmjs.org
@ngx-resource:registry=https://registry.npmjs.org
@firebase:registry=https://registry.npmjs.org
@google-cloud:registry=https://registry.npmjs.org
@mrmlnc:registry=https://registry.npmjs.org
@nodelib:registry=https://registry.npmjs.org
@protobufjs:registry=https://registry.npmjs.org
@kyleshockey:registry=https://registry.npmjs.org
registry=http://npm.clarifyhealth.com:4873
